---
import Layout from "@/layouts/Layout.astro";

const courses = [
  {
    title: "NMTM110 Information technology for teachers",
    year: "LS 2025/2026",
    description: "The course is intended for pre-service teachers who will be acquainted with the basics of processing numerical, textual and graphic information on a computer and with the use of these methods in preparation for teaching.",
    moodle: "https://dl1.cuni.cz/course/view.php?id=19037",
  },
  {
    title: "NDIN019 Programming languages for children",
    year: "LS 2025/2026",
    description: "Students become familiar with tools suitable for teaching programming, algorithmization, and computational thinking at primary and secondary schools. The course develops their ability to choose appropriate tools and tasks with respect to learning goals, pupils’ age, task scaling, assignment design, and reflection.",
    moodle: "https://dl1.cuni.cz/course/view.php?id=11898",
  },
{
    title: "NDIN011 Application Software",
    year: "ZS 2025/2026",
    description: "The course develops students’ skills in using common software tools to solve tasks of varying difficulty. Rather than focusing on specific applications, it emphasizes transferable knowledge and skills that help students work effectively with different types of software.",
    moodle: "https://dl1.cuni.cz/course/view.php?id=7871",
  },
{
    title: "NPEP302 Pedagogic Propaedeutics",
    year: "ZS 2025/2026",
    description: "The course introduces students to key aspects of school practice and the practical application of pedagogical knowledge in teaching. It focuses on lesson preparation, classroom work, individualization of instruction, pupil assessment, and basic curricular documents.",
    moodle: "https://teams.microsoft.com/l/team/19%3AZnh2d6mhQcZHGUUQw8KcQVHszKBYqcuYUMAFmaHI4-s1%40thread.tacv2/conversations?groupId=57012f4a-1495-4617-93cf-23d5ad11145a&tenantId=e09276da-f934-4086-bf08-8816a20414a2",
  },
];
---

<Layout title="Teaching">
  <div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-8">Teaching</h1>

    <p class="mb-8">
      I teach courses at Charles University. Detailed information, course
      materials, assignments, and announcements are available in Moodle.
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
      {
        courses.map((course) => (
          <div class="card bg-base-200">
              <div class="card-body p-5">
              <h2 class="card-title text-xl">{course.title}</h2>

              <p class="text-sm text-base-content/70">
                <span class="font-medium">Academic year:</span> {course.year}
              </p>

              {course.description && (
                <p class="text-sm text-base-content/80">
                  {course.description}
                </p>
              )}

              <div class="card-actions justify-end mt-4">
                <a
                  href={course.moodle}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="btn btn-sm btn-secondary text-secondary-content"
                >
                  Page of course
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
